<style>
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Hind+Madurai&family=Livvic:wght@200;300;500;600&family=Merriweather:ital,wght@0,300;1,400&family=Roboto:ital,wght@0,300;1,400&display=swap');
</style>

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 803px ;
    margin: 0 auto;
}
header {
    padding-top: 40px;
    position: fixed;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}
.nav__item {
    margin-left: 40px;
}
.nav__item a {
    color: #fff;
}
.nav__item:last-child a {
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    color: rgb(97, 96, 94);
    font-weight: 500;
    padding: 8px 13px;
}
.hero {
    padding-top: 186px;
    padding-bottom: 196px;
    background-image: url(../img/Bitmap\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.hero__social {
    position: absolute;
    margin-top: -150px;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 218px;
    transform: rotate(90deg);
}
.hero__social a {
    color: #fff;
    margin-left: 40px;      
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__inner a {
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.hero__inner i {
    font-size: 45px;
    margin-right: 5px;
}
.hero__info p {
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Merriweather', serif;
}
.hero__info h2 {
    color: #fff;
    font-family:'Merriweather', serif;
    max-width: 410px;
    font-weight: 600;
}
.material {
    padding-top: 62px;
    margin-bottom: 57px;
    background-color: #fff;
}
.material__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material__info {
    max-width: 400px;
}
.material__info h2 {
    font-size: 30px;
    font-weight: 900px;
}
.material__info p {
    font-size: 14px;
    color: #646D70;
    font-weight: 400;
    line-height: 24px;
}
.material__info button {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px 15px;
    color: #646D70;
    border: 1px solid #646D70;
}
.material__img {
    margin-top: -100px;
    margin-left: -30px;
    position: relative;
    z-index: 3;
}
/* innovatie --- section-4 */
.sect4 {
    background-color: #222F33;
}
.innovatie__inner {
    padding-top: 72px;
    padding-left: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}
.innovatie__inner h3 {
    color: #fff;
    font-size: 32px;
    font-family: serif;
}
.innovatie__info {
    display:  flex;
    justify-content: space-between;
    padding-bottom: 81px;
}
.info1 {
    color: #fff;
    font-size: 15px;
    max-width: 420px;
    line-height: 24px;
    
}
.info2 {
    margin-left: 45px;
}

/* section---sect5 */
.sect5 {
    padding-top: 85px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.sect5 img {
    width: 400px;
    height: 370px;
}
.cards {
    display: flex;
     margin-left: 120px;
}
.sect5__item {
    margin-left: 40px;
    
}
.sect5__item h5 {
    color: #222F33;
    font-size: 20px;
    font-weight: 800px;
}
.sect5__item p {
    width: 155px;
    color: #646D70;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300px;
}
.footer {
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: #222F33;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__inner p {
    color: #fff;
}